@import "../../../../sass/common.scss";
.item {
  display: grid;
  grid-template-columns: 5% 75% 10% 10%;
  border: 1px solid rgba($color: #080808, $alpha: 0.1);
  padding: 0 $universal-padding;
  .item__check {
    height: fit-content;
    align-self: center;
  }
  .item__close-btn {
    background-color: $close-btn;
  }
  .item__update-btn {
    background-color: #783ed4;
  }
  .alter-btns {
    justify-self: end;
    align-self: center;
    border: 0;
    width: 2em;
    height: 2em;
    color: $white-color;
    border-radius: $universal-border-radius;
  }
}
