$primary-color: #45c3d3;
$secondary-color: #f4f4f4;
$ternary-color: #a0a3a8;
$border-color: #d0f0f4;
$secondary-background-color: #f6fbfc;
$review-background: #fff;
$social-links-background: #30abba;
$filter: invert(89%) sepia(9%) saturate(7496%) hue-rotate(150deg)
brightness(90%) contrast(81%);