@font-face {
  font-family: "Lato", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
}

$universal-width: 60%;
$universal-padding: 1em;
$black-color: #343a40;
$green-color: #28a745;
$white-color: #fff;
$close-btn: #dc3545;
$universal-border-radius: 4px;
$h1-font-size: 40px;
$h2-font-size: 32px;
$heading-font-weight: 600;

.info-text {
  font-style: italic;
}
