@import "../../../sass/common.scss";

.items__header {
  .items__header-title {
    margin: 0;
    font-size: $h2-font-size;
    font-weight: 600;
  }
  .items__add-item {
    padding: $universal-padding;
    margin: 0.5em 0.5em 0.5em 0;
    border: 1px solid rgba($color: #080808, $alpha: 0.1);
    border-radius: $universal-border-radius;
    outline: none;
  }
  .items__add-btn {
    padding: $universal-padding;
    background-color: $black-color;
    color: $white-color;
    border: $black-color;
    border-radius: $universal-border-radius;
  }
}