@import "../../sass/common.scss";
.container {
  width: $universal-width;
  margin: 1em auto;
  padding: $universal-padding;
  border: 2px solid rgba(0, 0, 50, 0.1);
  border-radius: $universal-border-radius;
  box-sizing: border-box;
}
