@import "../../../sass/common.scss";
.items {
  .items__headline {
    margin: 0;
    padding: calc($universal-padding/2) 0;
    font-size: $h2-font-size;
    font-weight: $heading-font-weight;
  }

  :nth-child(2) {
    border-top-left-radius: $universal-border-radius;
    border-top-right-radius: $universal-border-radius;
  }
  :last-child {
    border-bottom-left-radius: $universal-border-radius;
    border-bottom-right-radius: $universal-border-radius;
  }
  .no-items {
    margin: 0;
  }
}
.items:first-child {
  background-color: black;
}
