* {
    margin: 0%;
    padding: 0%;
}

#container {
    width: 19em;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,4em);
    grid-gap: 1em;
    #heading {
        grid-column: 1 / 5;
        background-color: #f4f4f4;
        padding: 0.2em;
        font-size: 2em;
        text-align: center;
    }
    #display {
        grid-column: 1 / 5;
        padding: 1em 0.5em;
    }
    #result {
        grid-column: 1 / 5;
        padding: 1em 0.5em;
    }
}